<!-- _home-hero start custom-->
<div class="hero-block">
  <div class="px-4 py-5 text-center hero-content text-white">
    <h1 class="display-5 fw-bold">Step met stepondersteuning</h1>
    <div class="col-lg-6 mx-auto pt-5">
      <p class="lead mb-4">Legaal met je step op de Nederlandse weg. Het ministerie heeft als reactie op vragen van een burger, beleid gemaakt dat een step met ondersteuning onder dezelfde regels valt als een elektrische fiets.</p>
      <div class="d-grid gap-2 d-sm-flex justify-content-sm-center py-3">
        <a href="https://www.rijksoverheid.nl/onderwerpen/voertuigen-op-de-weg/e-step-met-trapondersteuning" class="btn btn-primary btn-lg px-4 me-md-2">Rijksoverheid</a>
        <a href="/#documenten" class="btn btn-secondary btn-lg px-4">Documenten</a>
      </div>
    </div>
  </div>
  </div>
  <!-- _home-hero end custom-->