<!-- _home-hero start custom-->
<div class="hero-block">
  <div class="container col-xxl-8 px-4 py-5">
    <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
      <div class="col-10 col-sm-8 col-lg-6">
        <img src="https://placekitten.com/700/500" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="700" height="500" loading="lazy">
      </div>
      <div class="col-lg-6">
        <h1 class="display-5 fw-bold lh-1 mb-3">Step met stepondersteuning</h1>
        <p class="lead">Legaal met je step op de Nederlandse weg. Het ministerie heeft als reactie op vragen van een burger beleid gemaakt dat een step met ondersteuning onder dezelfde regels valt als een electrische fiets.</p>
        <div class="d-grid gap-2 d-md-flex justify-content-md-start">
          <a href="https://www.rijksoverheid.nl/onderwerpen/voertuigen-op-de-weg/e-step-met-trapondersteuning" class="btn btn-primary btn-lg px-4 me-md-2">Rijksoverheid</a>
          <button type="button" class="btn btn-outline-secondary btn-lg px-4">Default</button>
        </div>
      </div>
    </div>
  </div>
  </div>
  <!-- _home-hero end custom-->