---
layout: default
---

{%- include step-hero.html -%}

<div class="container mt-5">
{{ content }}
</div>

<div class="container my-4">
{% include repo-cards.html %}
</div>

<div class="container py-3 px-3 text-center">
  <h3>Qr code step.svrooij.io</h3>
  <img style="max-width:300px;" src="/assets/img/qr-code.svg">
</div>

<footer class="mt-5 p-4 text-center bg-light">
  <small>Website door <a href="https://svrooij.io">Stephan van Rooij</a>
    - Source on <a href="https://github.com/{{site.repository}}">Github</a>
    - Photo by <a href="https://www.pexels.com/photo/a-man-wearing-jacket-standing-beside-a-kick-scooter-8989243/">Artem Podrez</a></small>
</footer>